<style>
  .test-form {
    padding: 20px;

  }
    .test-form select,
    .test-form button,
    .test-form input, {
      font-size: 16px;
    }

    .test-form select,
    .test-form input {
      display: block;
      margin-bottom: 10px;
    }

    .test-form input {
      padding: 5px 10px;
    }

    .test-form .data-wrapper {
      margin-top: 20px;
    }

    .test-form .fetching-notice {
      display: none;
    }


</style>
<form class="test-form">
  <input name="postcode" placeholder="Postcode (e.g. E8 4PP)" />
  <button type="submit" class="submit-btn">Go!</button>
  <span class="fetching-notice">Fetching...</span>
  <div class="data-wrapper"></div>
</form>
