<h2><a href="" target="_blank">Families</a></h2>
<ul>
{{#each families}}
  <li><a href="http://neighbourhood.statistics.gov.uk/NDE2/Disco/GetVariables?DSFamilyId={{this.familyId}}" target="_blank">
  {{this.familyId}}:{{this.name}}</a></li>
{{/each}}
</ul>
