<h2><a href="http://neighbourhood.statistics.gov.uk/NDE2/Disco/GetSubjects" target="_blank">Subjects</a></h2>
<ul>
{{#each subjects}}
  <li><a href="http://neighbourhood.statistics.gov.uk/NDE2/Disco/GetDatasetFamilies?SubjectId={{this.subjectId}}" target="_blank">
  {{this.subjectId}}:{{this.name}}</a></li>
{{/each}}
</ul>
