<h2><a href="" target="_blank">Variables</a></h2>
<ul>
{{#each variables}}
  <li><a href="http://neighbourhood.statistics.gov.uk/NDE2/Disco/GetVariables?DSFamilyId={{this.variableId}}" target="_blank">
  {{this.variableId}}:{{this.name}}</a></li>
{{/each}}
</ul>
